.wd-bookmark-header {
    width: 100%;
    height: 64px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
}

.wd-header-border-grey {
    border-bottom-color: #475154;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
}

.wd-header-text {
    width: 100%;
}

.wd-header-content {
    height: 100%;
}

#wd-bookmark-title-format {
    font-size: 20px;
    font-weight: bold;
}

#wd-bookmark-handle-format {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-bookmark-ellipsis {
    color: rgb(29, 161, 242);
}

.wd-center-content {
    line-height: 40px;
    box-sizing: border-box;
}

.wd-bookmarked-tuit {
    width: 100%;
    display: flex;
    border-color: #475154;
    border-style: solid;
    border-width: 1px;
}

.wd-width-64px {
    width: 64px;
    height: 100%;
    float: left;
    padding-left: 16px;
    padding-top: 12px;
    box-sizing: border-box;
}

.wd-width-506px {
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
}

.wd-profile-img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.wd-user-handle {
    padding-left: 12px;
    padding-top: 12px;
    width: 504px;
}

.wd-user-name {
    font-size: 15px;
}

.wd-user-account {
    font-size: 15px;
    color:rgb(110, 118, 125);
}

.wd-user-posted-when {
    font-size: 15px;
    color:rgb(110, 118, 125);
}

.wd-tuit-ellipsis {
    color: rgb(110, 118, 125);
}

.wd-tuit-main-content {
    width: 506px;
    padding-left: 16px;
    padding-top: 12px;
}

.wd-tuit-body-text {
    max-width: 506px;
    padding-right: 16px;
    box-sizing: border-box;
}

.wd-tuit-img-content {
    width: 100%;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
}

.wd-article-img {
    width: 504px;
    height: 264px;
    border-color: #475154;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px 5px 0px 0px;
    box-sizing: border-box;
    display: block;
}

.wd-tuit-article-text {
    width: 504px;
    padding: 12px;
    box-sizing: border-box;
    border-color: #475154;
    border-style: solid;
    border-width: 1px;
    border-radius:  0px 0px 5px 5px;
    box-sizing: border-box;
}

.wd-test-div {
    width: 504px;
    border-color: rebeccapurple;
    border-style: solid;
    border-width: 1px;
    border-radius:  0px 0px 5px 5px;
    box-sizing: border-box;
} 

.wd-tuit-img-title {
    width: 100%;
    font-size: 15px;
    color: white;
}

.wd-tuit-img-text {
    width: 100%;
    font-size: 15px;
    color: #475154;
}

.wd-format-link {
    text-decoration: none;
    color: #475154;
}

.wd-tuit-actions {
    width: 100%;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 16px;
    padding-right: 12px;
    width: 504px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.wd-tuit-action-element {
    float: left;
}

.wd-action-number {
    padding-left: 12px;
}

.wd-format-link-action {
    text-decoration: none;
    color: rgb(110, 118, 125);
}

.wd-format-link-action-like {
    text-decoration: none;
    color: red;
}