.wd-pill-left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.wd-pill-right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

@media (min-width: 0px) {
    .wd-img-height-sm {
        height: 80px;
        width: 80px;
    }

    .wd-btn-width-sm {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .wd-img-height-md {
        height: 80px;
        width: 80px;
    }

    .wd-btn-width-md {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .wd-img-height-lg {
        height: 80px;
        width: 80px;
    }

    .wd-follow-img-lg {
        height: 35px;
        width: 35px;
    }
    
    .wd-btn-width-lg {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .wd-btn-width-xl {
        width: 100%;
    }

    .wd-img-height-xl {
        height: 90px;
        width: 90px;
    }

    .wd-follow-img-xl {
        height: 40px;
        width: 40px;
    }
}

 @media (min-width: 1400px) {
    .wd-btn-width-xxl {
        width: 100%;
    }

    .wd-img-height-xxl {
        height: 100px;
        width: 100px;
    }
}